@import "../../../../node_modules/element-ui/lib/theme-chalk/index.css";

.el-table__body-wrapper {
  overflow: visible;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $primary-color;
  border-color: $primary-color;
}

.el-checkbox__inner:hover {
  border-color: $primary-color;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $primary-color;
}

.btn-group > .dropdown-container:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .dropdown-container:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.content-inner {
  position: static;
}

.page-content {
  position: relative;
}

footer.main-footer {
  width: calc(100% - 250px);
  right: 0;
}