@import "../../../../node_modules/element-ui/lib/theme-chalk/index.css";

.el-table__body-wrapper {
  overflow: visible !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.el-checkbox__inner:hover {
  border-color: $primary-color !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $primary-color !important;
}

.btn-group > .dropdown-container:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .dropdown-container:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.content-inner {
  position: static;
}

.page-content {
  position: relative;
}

footer.main-footer {
  width: calc(100% - 250px);
  right: 0;
}

@media (max-width: 1199px) {
  footer.main-footer {
    width: 100%;
  }
}

textarea.textarea-material {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  &:focus {
    border-color: $primary-color;
    outline: none;
  }
  ~ label {
    color: #aaa;
    position: absolute;
    top: 14px;
    left: 0;
    cursor: text;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 300;
    &.error {
      color: #dc3545;
      font-size: 0.75em;
      position: absolute;
      top: auto;
      bottom: -30px;
      left: 0;
    }
    &.active {
      font-size: 0.8em;
      top: -10px;
      color: $primary-color;
    }
  }
}